body {
	background-color: lightblue;
}

.borderReg {
	border-style: solid;
	height: 380px;
	width: 400px;
}

.borderLog {
	border-style: solid;
	height: 150px;
	width: 400px;
}

.div{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
}

.error{
	color: red;
}